[submodule "SatelliteDataManager/analyses/SEDM-Wildfire"]
	path = SatelliteDataManager/analyses/SEDM-Wildfire
	url = git@github.com:gpiparo2/SEDM-Wildfire.git
[submodule "SatelliteDataManager/analyses/SEDM-Vineyard"]
	path = SatelliteDataManager/analyses/SEDM-Vineyard
	url = git@github.com:gpiparo2/SEDM-Vineyard.git
[submodule "SatelliteDataManager/analyses/SEDM-Irrigation"]
	path = SatelliteDataManager/analyses/SEDM-Irrigation
	url = git@github.com:gpiparo2/SEDM-Irrigation.git
