[submodule "SatelliteDataManager/analyses/SEDM_Wildfire"]
	path = SatelliteDataManager/analyses/SEDM_Wildfire
	url = git@github.com:gpiparo2/SEDM_Wildfire.git
[submodule "SatelliteDataManager/analyses/SEDM_Vineyard"]
	path = SatelliteDataManager/analyses/SEDM_Vineyard
	url = git@github.com:gpiparo2/SEDM_Vineyard.git
[submodule "SatelliteDataManager/analyses/SEDM_Irrigation"]
	path = SatelliteDataManager/analyses/SEDM_Irrigation
	url = git@github.com:gpiparo2/SEDM_Irrigation.git
